h1 {color: rgb(72, 13, 167); text-decoration: underline;} 
img {width:300px ;
    padding-top: 15px;
    box-shadow: 0 0 1px 1px gray;
} 

body {text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: beige;} 
    

li { text-size-adjust: 400px;}

#Youtube {background-color: green } 

